@import "tailwindcss";

@theme {
  /* Navbar */
  --color-azul-background: #0B3996;
  --color-amarelo-background: #EDC928;

  /* Texto da navbar */
  --color-branco-texto: #F8FAFC;

  /* Texto selecionado da navbar e botão da navbar hamburuger */
  --color-verde-texto: #15AB4C; 
  --color-verde-texto-sombra: #108F3E;

  /* Background */
  --color-cinza-background: #F1F5F9;
}

